

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
</div>


<!-- <form th:object="${task}" th:method="post" action="./../../task/update" -->
<form th:object="${task}" th:method="post" action="/my-artifactId/task/addTask"
        class="form-horizontal" id="add-owner-form">
        		
        <div class="control-group" th:classappend="${#fields.hasErrors('name')} ? error">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" th:field="*{name}"/>
                <span class="help-inline" th:errors="*{name}">[error]</span>
            </div>
        </div>
    
        <div class="control-group" th:classappend="${#fields.hasErrors('shortName')} ? error">
            <label class="control-label">Short Name</label>
            <div class="controls">
                <input type="text" th:field="*{shortName}" />
                <span class="help-inline" th:errors="*{shortName}">[error]</span>
            </div>
        </div>
        
        <input type="hidden"   th:field="*{id}" />
    
        <div class="control-group" th:classappend="${#fields.hasErrors('description')} ? error">
            <label class="control-label">Description</label>
            <div class="controls">
                <input type="text" th:field="*{description}" />
                <span class="help-inline" th:errors="*{description}">[error]</span>
            </div>
        </div>
    
        <div class="control-group" th:classappend="${#fields.hasErrors('dueDate')} ? error">
            <label class="control-label">Due Date</label>
            <div class="controls">
                <input type="text" th:field="*{dueDate}" />
                <span class="help-inline" th:errors="*{dueDate}">[error]</span>
            </div>
        </div>
        
        <select th:field="*{status}">
  <option th:each="type : ${T(com.task.tracker.DAO.impl.STATUS).values()}" 
          th:value="${type}" 
          th:text="${type}">Wireframe</option>
</select>
    
        <div class="control-group" th:classappend="${#fields.hasErrors('assigneeId')} ? error">
            <label class="control-label">Assignee</label>
            <div class="controls">
                <input type="text" th:field="*{assigneeId.email}" />
                <span class="help-inline" th:errors="*{assigneeId.email}">[error]</span>
            </div>
        </div>
<button type="submit" th:text="Save">Add row</button>
    </form>
    
    
      
</body>
</html>