
<h3>Create User</h3>

<div class="col-lg-6">
	<br />

	<div>
	<label class="control-label">First Name :</label>
	<input class="form-control js-first-name" />
	</div>
	<br />

	<div>
	<label class="control-label">Last Name :</label>
	<input class="form-control js-last-name" />
	</div>
	<br />

	<div>
	<label class="control-label">E-mail :</label>
	<input class="form-control js-mail" />
	</div>
	<br />

	<div>
	<label class="control-label">Role :</label>
	<select class="form-control js-role">
		<option value=""></option>
		<option value="ADMIN">Admin</option>
		<option value="EMPLOYEE">Employee</option>
	</select>
	</div>
	<br />

	<div>
	<label class="control-label">Password :</label>
	<input class="form-control js-password" type="password"/>
	</div>
	<br />

<br />
<button type="button" class="btn btn-primary js-create-user">Create User</button>
<br />
<br />
<br />
</div>


<script src="resources/dist/js/createUser.js"></script>