
<div class="col-lg-12">

	<h3>Review Test</h3>
	<br /> 
	<label class="js-candidate-name"></label>
	<br />
	<br />
	<label class="js-candidate-mail"></label> <br /> <br /> <label>Test tags :</label>
	<ul class="js-test-tags">
	</ul>

<!-- <div class="col-lg-12"> -->
	<div class="col-lg-3">
	<label>Select question to review :</label>
	<select class="form-control js-qustion-selector">
	</select>
	</div>
<!-- 	</div> -->
	
	<br />
	<br />
	<br />
	<br />
	<br />

<hr/>

	<div>
		<br />
		<label>Question :</label>
		<textarea class="form-control js-question-text disabled" style="cursor: default">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>
	<br/>
	<label>Answer :</label>
	
	<textarea class="form-control js-question-answer disabled" style="cursor: default">

</textarea>

<div class = "js-multiple-choise">

</div>

  	
	</div>
	
	<hr/>
	
	<label>Reviewers Comments : </label>
	<br/>
	<br/>
	<div class="js-comment-area">
	
	
	</div>
	
	<br />
	<br />
	
	<div>
	<textarea class="form-control" />
	<br />
	<button class="btn btn-primary js-add-comment">Add Comment</button>
	
	</div>
	
	
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>

<script src="resources/dist/js/reviewTest.js"></script>
<script src="resources/dist/js/common.js"></script>

